<ul class="recipe-list">
  <li>
    <%= link_to recipe_path(recipe), class: "recipe-link" do %>
      <div class="card-category", style="background-image: linear-gradient(to bottom, rgba(255, 255, 252, 0.1), rgba(40, 40, 49, 0.42)), url(<%= recipe.photo.attached? ? "#{cl_image_path recipe.photo.key}" : 'https://source.unsplash.com/random/?food' %>)">
        <div class="recipe-card-text">
        <p><%= recipe.name %></p>
          <div class="recipe-card-duration">
            <span><i class="fa-solid fa-clock"></i><%= recipe.preptime_hour > 0 ? " #{recipe.preptime_hour} h" : "" %><%= recipe.preptime_mn > 0 ? " #{recipe.preptime_mn} min" : "" %></span>
          </div>
        </div>
      </div>
    <% end %>
  </li>
</ul>
