<%= content_for(:color) { 'navbar-orange' } %>

<div class="main-container recipe-index-container">
  <div class="d-flex">
    <%= form_with url: recipes_path, method: :get, class: "d-flex recipe-search" do |f| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-input-field",
        placeholder: "Search by name, ingredient..."
      %>
      <%= f.button '<i class="fa-solid fa-magnifying-glass"></i>'.html_safe, class: "search-bar-button" %>
    <% end %>
  </div>

  <% if params[:query].present? %>
    <h2>Search results</h2>
    <% if @results.empty? %>
      <p>There are no recipes matching your search.</p>
    <% else %>
      <div class="cards">
        <% @results.each do |recipe| %>
          <%= render "recipe_card", recipe: recipe %>
        <% end %>
      </div>
      <% end %>
  <% elsif @my_recipes.empty? && @my_circles.empty? %>
      <p>You don't have any recipe yet!<p>
      <p>Click here to add a new one:</p>
      <%= link_to "Write a recipe", "/recipes/new", class: "button-orange" %>
  <% else %>
    <% unless @my_recipes.empty? %>
      <h2>From your recipes</h2>
      <div class="cards">
        <% @my_recipes.each do |recipe| %>
          <%= render "recipe_card", recipe: recipe %>
        <% end %>
      </div>
    <% end %>

    <% unless @my_circles.nil? || @my_circles.empty? %>
      <h2>From your circles</h2>
      <% @my_circles.each do |circle| %>
        <% if circle.recipes.empty? %>
          <h3><%= circle.name %></h3>
          <p>There are no recipes in this circle at the moment.<p>
          <%= link_to "Add a recipe in this circle", circle_path(circle), class: "button-orange" %>
        <% else %>
          <h3><%= circle.name %></h3>
          <div class="cards">
          <% circle.recipes.each do |recipe| %>
            <%= render "recipe_card", recipe: recipe %>
          <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
