<%= content_for(:color) { 'navbar-orange' } %>

<div class="recipe-index-container" data-controller="search">
  <div class="recipe-search-container <%= "d-none" if @my_recipes.nil? && @my_circles.nil? %>" data-controller="autocomplete" data-autocomplete-url-value="/autocomplete" data-autocomplete-submit-on-enter-value="true">
    <div class="d-flex justify-content-between align-items-center">
      <%= form_with url: recipes_path, method: :get, class: "d-flex recipe-search", data: { "search-target": "form" } do |f| %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-input-field",
            placeholder: "Search by name, ingredient...",
            "data-autocomplete-target": "input",
            "data-search-target": "input"
          %>
        <%= f.button '<i class="fa-solid fa-magnifying-glass fa-lg"></i>'.html_safe, class: "search-bar-button" %>
      <% end %>

      <div class="cookie-icon">
        <%= link_to new_recipe_path  do %>
          <i class="fa-solid fa-cookie-bite"></i>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
    </div>

    <div id="autocomplete-results">
      <ul data-autocomplete-target="results"></ul>
    </div>
  </div>



  <% if @my_recipes.empty? && @my_circles.empty? %>
    <div class="no-recipes">
      <h3>You don't have any recipes yet!</h3>
      <img id="no-recipes-image" src="https://res.cloudinary.com/chahinezh/image/upload/v1662067855/faxt2ojk55dmyxq0sfou.jpg" alt="empty plate">
      <div class="write-recipe-button">
        <%= link_to "Write a recipe", "/recipes/new", class: "button-orange" %>
      </div>
    </div>
  <% elsif params[:query].present? %>
    <h2>Search results</h2>
    <% if @results.empty? %>
      <p>There are no recipes matching your search.</p>
    <% else %>
      <div class="cards">
        <% @results.sort_by(&:name).each do |recipe| %>
          <%= render "recipe_card", recipe: recipe %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% unless @my_recipes.empty? %>
      <h2>From your recipes</h2>
      <div class="card-slider">
        <div class="card-wrapper">
          <% @my_recipes.each do |recipe| %>
            <%= render "recipe_card", recipe: recipe %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% unless @my_circles.nil? || @my_circles.empty? %>
      <h2>From your circles</h2>
      <% @my_circles.each do |circle| %>
        <% if circle.recipes.empty? %>
          <h3><%= circle.name %></h3>
          <div class="no-recipes">
            <p>There are no recipes in this circle<br>at the moment.</p>
            <%= link_to "Add a recipe in this circle", circle_path(circle), class: "button-orange" %>
          </div>
        <% else %>
          <h3><%= circle.name %></h3>
          <div class="card-slider">
            <div class="card-wrapper">
            <% circle.recipes.sort_by(&:name).each do |recipe| %>
              <%= render "recipe_card", recipe: recipe %>
            <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="inspiration-button my-4">
    <%= link_to "Find inspiration", suggestions_path, class: "button-green p-3" %>
  </div>
</div>
