<div class="container">
    <h1>Create a new recipe</h1>
    <div class="form">
      <%= simple_form_for(@recipe) do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :name %>
        <%= f.input :category, collection: Recipe.categories.keys, include_blank: false %>
        <%= f.input :prep_time %>

        <%= f.fields_for :ingredients do |i| %>
            <%= i.input :name %>
            <%= i.input :unit %>
            <%= i.fields_for :recipe_ingredients do |ri| %>
              <%= ri.input :quantity %>
            <% end %>
        <% end %>

        <%= f.input :description %>
        <%= f.submit %>
      <% end %>
    </div>
</div>

<%# :input_html => {:onChange => 'upload();'} %>
 <%# data-controller="insert-recipe-image" %>
