<%= content_for(:color) { 'navbar-white'} %>
<div class="banner mt-0 mb-0">
  <img class="img-banner" src="https://source.unsplash.com/random/?cutlery" alt="image">
</div>

<div class="main-container m-4">
  <h1>Create a new recipe</h1>
  <div class="form">
    <%= simple_form_for @recipe, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
    <h4>Picture</h4>
      <%= f.input :photo, as: :file, label: false %>
    <h4>What's the name of your recipe?</h4>
      <%= f.input :name, label: false %>

      <div class="categories-preptime" >
      <h4>Category and prep time</h4>
        <div class="preptime-input d-flex row">
          <div class="col-6">
            <%= f.input :category, collection: Recipe.categories.keys, include_blank: false, label: false %>
          </div>
          <div class="col-6">
            <div class="row preptime-fields">
              <div class="col-5">
                <%= f.input :preptime_hour, as: :numeric,  input_html: { min: 0 }, label: false %>
              </div>
                <div class="col-2">
                <p id="time-hour">  h  </p>
              </div>
              <div class="col-5">
                  <%= f.input :preptime_mn, as: :numeric, input_html: { min: 0, max: 45, step: 15 }, label: false %>
              </div>
            </div>
          </div>
        </div>

      <div class="ingredients" >
        <h4>Ingredients</h4>
          <template data-nested-form-target="template">
          <div class="ingredients-input d-flex">
            <%= f.fields_for :recipe_ingredients, child_index: 'NEW_RECORD' do |ri| %>
              <%= render "new_ingredients_form", ri: ri %>
            <% end %>
          </div>
        </template>

      <div class="ingredients-input">
        <%= f.fields_for :recipe_ingredients do |ri| %>
          <%= render "new_ingredients_form", ri: ri %>
        <% end %>
      </div>

      <div data-nested-form-target="target">
</div>

    <button type="button" data-action="nested-form#add" class="button-orange w-100 b-0 ml-0"><i class="fa-solid fa-plus"></i></button>
    <div class="d-flex">
      <h4>Recipe instructions</h4>
    </div>
      <%= f.input :description, class: "search-input-field shadow-none background description", label: false %>
    <div class="b-0 my-4 mr-0 d-flex justify-content-center">

      <%= f.submit class: "button-green " %>
    </div>
    <% end %>


  </div>

<%# :input_html => {:onChange => 'upload();'} %>
 <%# data-controller="insert-recipe-image" %>
