<div class="container">
    <h1>Create a new recipe</h1>
    <div class="form">
      <%= simple_form_for @recipe, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
        <%= f.input :photo, as: :file %>
        <%= f.input :name %>
        <%= f.input :category, collection: Recipe.categories.keys, include_blank: false %>

        <div class="preptime">
        <p> Prep time:</p>
          <div class="preptime-input d-flex">
            <%= f.input :preptime_hour, as: :numeric,  input_html: { min: 0 }, label: false %>
            <p>h</p>
            <%= f.input :preptime_mn, as: :numeric, input_html: { min: 0, max: 60, step: 15 }, label: false %>
            <p>mn</p>
          </div>
        </div>

        <div class="ingredients">
          <p>Add an ingredient</p>
            <template data-nested-form-target="template">
            <div class="ingredients-input d-flex">
              <%= f.fields_for :recipe_ingredients, child_index: 'NEW_RECORD' do |ri| %>
                <%= render "new_ingredients_form", ri: ri %>
              <% end %>
            </div>
          </template>

        <div class="ingredients-input">
          <%= f.fields_for :recipe_ingredients do |ri| %>
            <%= render "new_ingredients_form", ri: ri %>
          <% end %>
        </div>

        <div data-nested-form-target="target">
      </div>

      <button type="button" data-action="nested-form#add">Add ingredient</button>
        <%= f.input :description %>
        <%= f.submit %>
    <% end %>
  </div>
</div>

<%# :input_html => {:onChange => 'upload();'} %>
 <%# data-controller="insert-recipe-image" %>
