<%= content_for(:color) { 'navbar-white'} %>


<div class="banner">
  <img class="img-banner" src="<%= @recipe.photo.nil? ? @recipe.photo : 'https://source.unsplash.com/random/?food' %>" alt="image">
</div>


<div class="recipe-infos">
  <div class="infos">
    <h2><%= @recipe.name %></h2>
    <p>Time preparation <br><%= @recipe.preptime_hour > 0 ? "#{@recipe.preptime_hour} h " : "" %><%= @recipe.preptime_mn > 0 ? "#{@recipe.preptime_mn} min" : "" %></p>
  </div>

  <div class="creator-infos">
    <p>Creator</p>
      <% if @recipe.creator&.photo&.attached?%>
        <%= cl_image_tag @recipe.creator&.photo&.key, class:"avatar"%>
      <% else %>
        <img class=“avatar” alt=“avatar” src=“https://kitt.lewagon.com/placeholder/users/cveneziani” />
      <% end %>
  </div>
</div>


<div class="container container-orange">
  <div class="d-flex justify-content-between mb-2">

    <div class="ingredient">
      <h3>Ingredients</h3>
      <ul>
      <% @recipe.recipe_ingredients.each do |ingredient| %>
        <li><%= "#{ingredient.quantity} #{ingredient.ingredient.unit} #{ingredient.ingredient.name}"  %></li>
      <% end %>
      </ul>
    </div>

    <div class="symbol">
      <ul>
        <li>
          <%= link_to '#' do %>
            <i class="fa-solid fa-comment fa-lg"></i>
          <% end %>
        </li>
        <% if current_user == @recipe.creator %>
          <li>
          <%= link_to edit_recipe_path(@recipe)  do %>
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          <% end %>
        </li>

        <li>
          <%= link_to '#' do %>
            <i class="fa-solid fa-circle-plus fa-lg"></i>
          <% end %>
        </li>

        <li>
          <%= link_to recipes_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash-can fa-lg"></i>
          <% end %>
        </li>
        <% end %>

      </ul>
    </div>
  </div>

  <div class="instruction">
    <h3>Instructions</h3>
      <p><%= @recipe.description %></p>
  </div>

</div>
