<div class="container-navbar <%= yield(:color) %>">
  <div class="col-sm-12 navigation-content">
    <ul class="menu">
      <li class="menu-action">
        <%= link_to root_path, class: "navbar-content" do %>
          <i class="fa-solid fa-house fa-xl"></i>
        <% end %>
      </li>
      <li class="menu-action">
        <%= link_to "Circles", circles_path, class: "navbar-content" %>
      </li>
      <li class="menu-action">
        <%= link_to "Recipes", recipes_path, class: "navbar-content" %>
      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? && current_user.photo.attached?%>
            <%= cl_image_tag current_user.photo&.key, class:"avatar dropdown-toggle"%>
        <% else %>
            <img class=“avatar” alt=“avatar” src=“https://kitt.lewagon.com/placeholder/users/cveneziani” />
        <% end %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <ul>
            <% if user_signed_in? %>
              <li class="menu-action">
                <%= link_to "Logout", destroy_user_session_path, class: "navbar-content dropdown-item" %>
              </li>
            <% else %>
              <li class="menu-action">
                <%= link_to "Login", new_user_session_path, class: "navbar-content dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
