<%= content_for(:color) { 'navbar-white'} %>

<img src="https://images.unsplash.com/photo-1657299170964-205905bb0940?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="circle image" id="circle-index-img">

<div id="circle-list-container">
  <div class="your-circle">
    <h1>Your circles</h1>
  </div>
  <% @circles.sort_by(&:name).each do |circle| %>
    <%= link_to circle_path(circle) do %>
      <div class="little-container">
        <div id="circle-name-and-count">
          <h2><%= circle.name %></h2>
          <p><%= circle.recipes.count %> recipe<%= circle.recipes.count == 1 ? "" : "s" %></p>
        </div>

        <div class="member-infos">
          <% circle.users.uniq.each do |member| %>
            <% if member %>
              <%= cl_image_tag member.photo&.key, class:"avatar"%>
            <% else %>
              <img class="avatar" alt="avatar" src="https://res.cloudinary.com/chahinezh/image/upload/v1662555387/sm6kcz9cbzcjndnubbib.jpg" />
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

  <div class="d-flex justify-content-center align-self-end create-circle-btn">
    <%= link_to "Create a new circle", new_circle_path, class: "button-green" %>
  </div>
</div>
