<%= content_for(:color) { 'navbar-orange'} %>

<div class="main-container">

  <div class="circle-name-add">
    <div class="circle-name">
      <h1><%= @circle.name %></h1>
    </div>

    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="modify-button">
      <i class="fa-solid fa-user-plus fa-lg icon-color"></i>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new member</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <%= simple_form_for @circle, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
              <%= f.simple_fields_for :participations do |p_fields| %>
                <%= render "circle_form", f: p_fields %>
              <% end %>

              <div>
                <div data-nested-form-target="target"></div>
                <button type="button" data-action="nested-form#add" class="modify-button">
                  <i class="fa-solid fa-user-plus fa-lg icon-color"></i>
                </button>
              </div>
              <template data-nested-form-target="template">
                <%= f.simple_fields_for :participations, child_index: 'NEW_RECORD' do |p_fields| %>
                  <%= render "circle_form", f: p_fields %>
                <% end %>
              </template>
              <div class="center-button">
                <%= f.submit "Update your circle", class: 'button-green' %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="circle-member-container">

    <% @circle.users.each do |member| %>
      <div class="circle-member-info">
        <% if member.photo.attached? %>
          <%= cl_image_tag member.photo&.key, class:"avatar"%>
        <% else %>
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <% end %>
        <%= member.first_name %>
      </div>

      <%# <div class="delete-member">
        <i class="fa-solid fa-trash-can"></i>
      </div> %>

        <% end %>
      </div>

    <div class="recipe-circle">

      <div class="recipe-circle-name">
        <h2><%= @circle.name %> Recipes</h2>
      </div>

      <div class="recipe-circle-add">

        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalRecipe" class="modify-button">
          <i class="fa-solid fa-plus fa-xl"></i>
        </button>

        <div class="modal fade" id="exampleModalRecipe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new recipe</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <div class="modal-body">
                <%= simple_form_for @circle_recipe, url: circle_recipes_path, method: :post do |cr| %>
                  <%= cr.hidden_field :circle_id, value: @circle.id %>
                  <%= cr.association :recipe, collection: Recipe.all - @circle.recipes, label: false, input_html: {class: "search-input-field"} %>
                  <div class="center-button">
                    <%= cr.submit "Add to group", class: 'button-green' %>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>



        <%# <%= link_to new_circle_recipe_path(@circle) do %>
          <%# <i class="fa-solid fa-plus fa-xl"></i>
        <% end %>
    </div>
  </div>

  <div class="cards">
    <% @circle.recipes.each do |recipe|%>
      <%= render "recipes/recipe_card", recipe: recipe %>
    <% end %>
  </div>

</div>
