<%= content_for(:color) { 'navbar-orange'} %>

<div class="main-container">

  <div class="circle-name-add">
    <div class="circle-name">
      <% frame_id = dom_id(@circle, "name_turbo_frame") %>
      <%= form_with model: @circle do |form| %>
        <%= turbo_frame_tag frame_id do %>
          <h1><%= @circle.name %></h1>
          <%= link_to edit_circle_path(@circle) do %>
            <i class="fa-solid fa-pen-to-square"> Edit name</i>
          <% end %>
        <% end %>
      <% end %>
    </div>

      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="modify-button">
      <i class="fa-solid fa-user-plus fa-lg icon-color"></i>
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new member</h5>
            <div type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fa-solid fa-circle-xmark"></i>
            </div>


          </div>

          <div class="modal-body">

            <%= simple_form_for @circle, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
              <%= f.simple_fields_for :participations do |p_fields| %>
                <%= render "circle_form", f: p_fields %>
              <% end %>

              <div>
                <div data-nested-form-target="target"></div>
                <button type="button" data-action="nested-form#add" class="modify-button">
                  <i class="fa-solid fa-user-plus fa-lg icon-color"></i>
                </button>
              </div>
              <template data-nested-form-target="template">
                <%= f.simple_fields_for :participations, child_index: 'NEW_RECORD' do |p_fields| %>
                  <%= render "circle_form", f: p_fields %>
                <% end %>
              </template>
              <div class="center-button">
                <%= f.submit "Update your circle", class: 'button-green' %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="circle-member-container">

      <%= link_to circle_participation_path(@circle), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to leave this circle?" }, class: "exit-circle" do %>
        <i class="fa-solid fa-person-walking-arrow-right">  Leave circle</i>
      <% end %>

    <%# <%= link_to circle_visio_path(@circle), class: "visio-circle" do %>
        <%# <i class="fa-solid fa-video"> Call your circle</i>
       <% end %>

    <% @circle.users.uniq.each do |member| %>
      <div class="circle-member-info">
        <% if member.photo.attached? %>
          <%= cl_image_tag member.photo&.key, class:"avatar"%>
        <% else %>
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        <% end %>
        <%= member.first_name %>
      </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-center">
        <%= link_to "Call your circle", circle_visio_path(@circle), class: "button-green visio-circle"%>
      </div>

    <div class="recipe-circle">

      <div class="recipe-circle-name">
        <h2><%= @circle.name %> Recipes</h2>
      </div>

        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModalRecipe" class="modify-button">
          <i class="fa-solid fa-plus fa-xl clr-primary"></i>
        </button>

      <div class="recipe-circle-add">


        <div class="modal fade" id="exampleModalRecipe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new recipe</h5>
                  <div type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-circle-xmark"></i>
                    <%# <span aria-hidden="true">&times;</span> %>
                  </div>
              </div>

              <div class="modal-body">
                <%= simple_form_for @circle_recipe, url: circle_recipes_path, method: :post do |cr| %>
                  <%= cr.hidden_field :circle_id, value: @circle.id %>
                  <%= cr.association :recipe, collection: Recipe.where.not(creator_id: nil) - @circle.recipes, label: false, input_html: {class: "search-input-field"} %>
                  <div class="center-button">
                    <%= cr.submit "Add to group", class: 'button-green' %>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>

    </div>
  </div>

  <div class="cards">
    <% @circle.recipes.uniq.each do |recipe|%>
      <div class="card-category circle-recipes-card", style="background-image: linear-gradient(to bottom, rgba(255, 255, 252, 0.1), rgba(40, 40, 49, 0.42)), url(<%= recipe.photo.attached? ? "#{cl_image_path recipe.photo.key}" : 'https://source.unsplash.com/random/?food' %>)">
        <%= link_to recipe_path(recipe), class: "recipe-link" do %>
          <%= link_to circle_recipe_path(@circle, recipe: recipe), data: { turbo_method: :delete }, class: "delete-recipe-icon" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <div class="recipe-card-text">
            <p><%= recipe.name %></p>
            <div class="recipe-card-duration">
              <span><i class="fa-solid fa-clock"></i><%= recipe.preptime_hour > 0 ? " #{recipe.preptime_hour} h" : "" %><%= recipe.preptime_mn > 0 ? " #{recipe.preptime_mn} min" : "" %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
